RealmsForgottenMain/obj
RealmsForgottenMain/bin
RFLegendaryTroops/obj
RFLegendaryTroops/bin
HuntableHerds/obj
HuntableHerds/bin
RFEffects/obj
RFEffects/bin
RFCustomHorses/obj
RFCustomHorses/bin
NecromancyAndSummoning/obj
NecromancyAndSummoning/bin
Quest/bin
Quest/obj
RFCustomScenes/bin
RFCustomScenes/obj
RFCustomBandits/bin
RFCustomBandits/obj
RFReligions/bin
RFReligions/obj
RFSmithing/bin
RFSmithing/obj
fixCode.py
.idea
.vs
.vscode
