RealmsForgottenMain/obj
RealmsForgottenMain/bin
RFLegendaryTroops/obj
RFLegendaryTroops/bin
RFEffects/RFEffects.sln
RFEffects/RFEffects/obj
RFCustomHorses/RFCustomHorses.sln
RFCustomHorses/RFCustomHorses/obj
NecromancyAndSummoning/NecromancyAndSummoning.sln
NecromancyAndSummoning/NecromancyAndSummoning/obj
.vs